---
import type { Project } from "../info/info-form/info-form";
import InfoForm, { Title } from "../info/info-form/info-form";
import styles from "./enquire.module.scss";

interface Props {
	project: Project;
	image: string;
}

const { project, image } = Astro.props;

const modalId = `${project}-download-brochure`;
---

<div id="enquire-now" class={`${styles.container} container`}>
	<div class={styles.form}>
		<InfoForm project={project} title={Title.enquire} client:load />

		<div class={styles.button}>
			<button
				id="download-brochure"
				data-type="button"
				data-variant="dark"
				class="modal-open-trigger"
				data-modal-id={modalId}>Download Brochure</button
			>
		</div>
	</div>

	<div class={styles.map}>
		<img src={image} alt={project} />
	</div>

	<dialog id={modalId}>
		<InfoForm
			project={project}
			title={Title.download}
			modal={true}
			client:load
		/>
	</dialog>
</div>
