---
import styles from "./home.module.scss";

const ongoing = [
	{
		image: "/home/cards/novena.png",
		heading: "Novena Greens",
		description:
			"Open area with landscaping parks, 24 hours power backup, Ample covered parking space, Flower Garden and zen garden, Swimming pool and kids splash pool and more",
		linkText: "Read more →",
		link: "/our-projects/novena-greens",
	},
	{
		image: "/home/cards/anant.png",
		heading: "Anant Horizon",
		description:
			"Open area with landscaping parks, 24 hours power backup, Ample covered parking space, Flower Garden and zen garden, Swimming pool and kids splash pool and more",
		linkText: "Read more →",
		link: "/our-projects/anant-horizon",
	},
];

const delivered = [
	{
		heading: "Ophira Greens",
		image: "/home/cards/ophira.png",
		description:
			"Open area with landscaping parks, 24 hours power backup, Ample covered parking space, Flower Garden and sun garden, Swimming pool and kids splash pool and more",
		linkText: "Read more →",
		link: "/our-projects/ophira",
	},
];
---

<div class={`container ${styles.container}`}>
	<p class={styles.info}>
		At Mangalya Group, we take pride in shaping vibrant communities. From
		thoughtfully designed neighborhoods to elegant high-rise developments,
		our customer-first approach ensures the creation of residences that set
		new benchmarks for quality and longevity, standing the test of time and
		enriching lives for generations.
	</p>

	<div class={styles.project}>
		<h3>Ongoing Projects</h3>

		<div class={styles.project_items}>
			{
				ongoing.map((item) => {
					return (
						<div class={styles.item}>
							<div class={styles.item_image}>
								<img
									src={item.image}
									alt={item.heading}
									width="150"
									height="300"
								/>
							</div>

							<div class={styles.item_text}>
								<h4>{item.heading}</h4>
								<p>{item.description}</p>
								<div class={styles.item_link}>
									<a
										data-type="link"
										data-variant="normal"
										href={item.link}
									>
										{item.linkText}
									</a>
								</div>
							</div>
						</div>
					);
				})
			}
		</div>
	</div>

	<div class={styles.project}>
		<h3>Deliverd Projects</h3>

		<div class={styles.project_items}>
			{
				delivered.map((item) => {
					return (
						<div class={styles.item}>
							<div class={styles.item_image}>
								<img
									src={item.image}
									alt={item.heading}
									width="150"
									height="300"
								/>
							</div>

							<div class={styles.item_text}>
								<h4>{item.heading}</h4>
								<p>{item.description}</p>
								<div class={styles.item_link}>
									<a
										data-type="link"
										data-variant="normal"
										href={item.link}
									>
										{item.linkText}
									</a>
								</div>
							</div>
						</div>
					);
				})
			}
		</div>
	</div>

	<div class={styles.modal}>
		<h3>DISCLAIMER</h3>
		<p>
			This is to inform users/customers that www.mangalyagroup.in is the
			only official website of Mangalya Group. Users/customers are advised
			not to rely on information presented on other websites that may
			appear similar to the Company’s official website. Such websites may
			contain misleading or false information, and users/customers may
			suffer losses if they rely on such sources. If users/customers come
			across any such websites misusing the Company’s name/logo or
			providing information about the Company or its projects, they are
			encouraged to contact us at info@mangalyagroup.in so appropriate
			action can be taken.
		</p>
		<p>
			This website is for general guidance only. It does not constitute
			part of any offer or contract. Design and specifications are subject
			to change without prior notice. Computer-generated images are
			artistic impressions and indicative of the actual designs. The
			particulars contain details of projects and developments undertaken
			by the Company, including banners/posters of the projects. All
			content is subject to change in accordance with the
			stipulations/recommendations provided under the Real Estate
			(Regulation and Development) Act, 2016 (“RERA”) and applicable
			rules. Therefore, users are advised to verify all details, including
			areas, amenities, services, terms of sales, payments, and other
			relevant information, with the Company’s sales team before making
			any decision to purchase any unit(s) in the said projects.
		</p>
		<p>
			The Company shall not, under any circumstances, be held liable for
			any expenses, losses, or damages, including without limitation
			indirect or consequential losses or damages, arising out of the use
			of this website. Users are solely responsible for any reliance
			placed on the information provided herein.
		</p>
		<h3>PUBLIC NOTICE</h3>
		<p>
			To Whomsoever It May Concern:<br /> This is to bring to your notice that
			in compliance with the Real Estate (Regulation and Development) Act,
			2016 (“RERA”), Mangalya Group (“the Company”) strictly prohibits the
			promotion, marketing, or sale of unregistered projects. Should any broker
			or channel partner engage in the promotion or sale of unregistered projects
			on behalf of the Company, the Company disclaims all liability in this
			regard.
		</p>
		<p>
			The Company shall not, under any circumstances, be held liable for
			claims made by individuals seeking cancellations or refunds due to
			inaccuracies provided by such brokers or channel partners, even if
			efforts have been made to ensure accuracy. The Company shall also
			not be liable for any expenses, losses, or damages—whether direct,
			indirect, or consequential—arising from such unauthorized
			promotions, marketing, or sale of unregistered projects.
		</p>
		<div>
			<button data-type="button" data-variant="dark">I agree</button>
		</div>
	</div>
</div>
