---
import { email, phoneNumber } from "../../data/contact";
import InfoForm, { Project, Title } from "../projects/info/info-form/info-form";
import styles from "./footer.module.scss";
import { Icon } from "astro-icon/components";

const importantLinks = [
	{ text: "Blogs", link: "/about-us/blogs" },
	{ text: "Contact Us", link: "/" },
	{ text: "Work With Us", link: "/career" },
	{ text: "Privacy & Policy", link: "/privacy-policy" },
	{ text: "Disclaimer", link: "/disclaimer" },
	{ text: "Sitemap", link: "/sitemap" },
];

const properties = [
	{
		name: "Anant Horizon",
		address: "Plot no. 9 & 10, Sectot 11, Vrindavan Yojna, Lucknow, UP",
		link: "/our-projects/anant-horizon",
		image: "/anant-footer.png",
	},
	{
		name: "Novena Greens",
		address: "Plot No. CP-GH-5B, Tech Zone-IV, Greater Noida (West), UP",
		link: "/our-projects/novena-greens",
		image: "/novena-footer.png",
	},
	{
		name: "Ophira",
		address: "Plot No. 16F, Sector-1, Greater Noida(West), (U.P.)",
		link: "/our-projects/ophira",
		image: "/ophira-footer.png",
	},
];

const social = {
	facebook: "https://facebook.com",
	twitter: "https://twitter.com",
	linkedin: "https://linkedin.com",
	instagram: "https://instagram.com",
};

const modalId = "footer-contact-us";
---

<footer class={styles.footer}>
	<div class={`container ${styles.footer_items}`}>
		<div class={styles.logo}>
			<img
				src="/footer.svg"
				alt="mangalya group"
				width="200"
				height="100"
			/>
		</div>

		<div class={styles.links}>
			<h3>Important Links</h3>

			<div class={styles.link_items}>
				{
					importantLinks.map((item) => {
						if (item.text != "Contact Us")
							return (
								<p>
									<a
										href={item.link}
										data-type="link"
										data-variant="normal"
									>
										{item.text}
									</a>
								</p>
							);
						else {
							return (
								<p>
									<button
										data-type="link"
										data-variant="normal"
										class="modal-open-trigger"
										data-modal-id={modalId}
									>
										{item.text}
									</button>
								</p>
							);
						}
					})
				}
			</div>
		</div>

		<div class={styles.projects}>
			<h3>Latest Project</h3>
			<div class={styles.project_items}>
				{
					properties.map((item) => {
						return (
							<div class={styles.item}>
								<div class={styles.avtar}>
									<img
										src={item.image}
										width="128"
										height="128"
									/>
								</div>
								<div class={styles.info}>
									<p>
										<a
											href={item.link}
											data-type="link"
											data-variant="normal"
										>
											{item.name}
										</a>
									</p>
									<p>{item.address}</p>
								</div>
							</div>
						);
					})
				}
			</div>
		</div>

		<div class={styles.social}>
			<h3>Helpline</h3>

			<!-- <div>
				<a
					href={`tel:${phoneNumber}`}
					data-type="link"
					data-variant="normal">{phoneNumber}</a
				>
			</div> -->
			<div>
				<a
					href={`mailto:${email}`}
					data-type="link"
					data-variant="normal">{email}</a
				>
			</div>
			<div class={styles.social_items}>
				<a
					href={social.facebook}
					target="_blank"
					class={styles.facebook}
				>
					<Icon name="fa6-brands:facebook-f" />
				</a>
				<a
					href={social.instagram}
					target="_blank"
					class={styles.instagram}
				>
					<Icon name="fa6-brands:instagram" />
				</a>
				<a href={social.twitter} target="_blank" class={styles.twitter}>
					<Icon name="fa6-brands:x-twitter" />
				</a>

				<a
					href={social.linkedin}
					target="_blank"
					class={styles.linkedin}
				>
					<Icon name="fa6-brands:linkedin-in" />
				</a>
			</div>
		</div>
	</div>

	<div class={`container ${styles.copyright}`}>
		<p class={styles.info}>
			The Pictures and details are tentative depictions only. This is not
			a legal offer. Mentioned teatures are indicative and are subject to
			change without any prior notice as may be decided by the company or
			competent authority.
		</p>

		<p class={styles.text}>
			© Copyright Mangalya Group Design & Development By <a
				data-type="link"
				data-variant="normal"
				href="https://circledigital.in"
				target="_blank"
				>Circle Digital Solutions
			</a>
		</p>
	</div>

	<dialog id={modalId}>
		<InfoForm
			project={Project.mangalya}
			title={Title.contact}
			modal={true}
			client:load
		/>
	</dialog>
</footer>
