---
interface Props {
	project: string;
	description: string;
}

const { project, description } = Astro.props;

import InfoForm from "./info-form";
import styles from "./info.module.scss";
---

<div class={`container ${styles.container}`}>
	<div class={styles.info}>
		<h3>{project}</h3>
		<p>{description}</p>
	</div>

	<InfoForm project={project} client:load />
</div>
