---
interface Props {
	project: Project;
	description: string;
	projectName: string;
}

const { project, projectName, description } = Astro.props;

import InfoForm, { Project, Title } from "./info-form/info-form";
import styles from "./info.module.scss";
---

<div id="overview" class={`container ${styles.container}`}>
	<div class={styles.info}>
		<h3>{projectName}</h3>
		<p>{description}</p>
	</div>

	<InfoForm title={Title.enquire} project={project} client:load />
</div>
