---
interface Props {
	items: string[];
	projectName: string;
	project: Project;
}

const { items, projectName, project } = Astro.props;

import { Title, type Project } from "../info/info-form/info-form";
import InfoForm from "../info/info-form/info-form";
import styles from "./floor-plan.module.scss";

const modalId = `${project}-know-more-modal`;
---

<div id="floor-plan" class={`container ${styles.container}`}>
	<h3>Floor Plan</h3>

	<div class={styles.item}>
		{
			items.map((item) => {
				return (
					<div class={styles.image}>
						<img src={item} alt={projectName} />
					</div>
				);
			})
		}
	</div>

	<div class={styles.button}>
		<button
			data-type="button"
			data-variant="dark"
			class="modal-open-trigger"
			data-modal-id={modalId}>Know More</button
		>
	</div>

	<dialog id={modalId}>
		<InfoForm
			project={project}
			title={Title.enquire}
			modal={true}
			client:load
		/>
	</dialog>
</div>
